@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#3282b8;
}

.heading{
    background: radial-gradient(white 10px , #3282b8 73%,#6aa9e9 10%);
    text-align: center;
}
.logo{
    border-radius: 75px;
    height:150px; 
}

/* Game Area */

.game-area{
    text-align: center;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    margin:40px;
}

.option img{
    border-radius:25px;
    height:150px;
    border:10px solid #1B262C;
    
}

.option img:hover {
    cursor: pointer;
    border:10px solid #0a9ee2c9;
    transition: all 0.4s ease;
    
    
}

/* Click & Play Content */
.result{
    text-align: center;
    font-size: 25px;
    color:#bbe1fa;
    font-weight: bold;
    text-transform: capitalize;
}

/* Score Area */
.score-area {
    text-align: center;
    display:flex;
    justify-content:space-evenly; 
    margin: 25px;
    color:#BBE1FA;
    font-size: 25px;
    font-weight:bold;  
}

/* Rules / Reset / Save Score Buttons */


.btn{
    
    height:30px;
    width: 75px;
    border-radius:20px;
    margin-top: 10px;
    background-color:#1b262c;
    color: #bbe1fa;
    font-weight: bold;
}

.rules.btn {
    margin-top: -20px;
    border:5px solid #0F4C75;
}

.rules.btn:hover{
    cursor:pointer;
    border :3px solid greenyellow;
    transition:all 0.4s ease;
}

.btn-container{
    display :flex;
    justify-content:center;
    align-items: center;
}
.reset.btn{
    border: 5px solid #0F4C75;
}

.reset.btn:hover{
    cursor:pointer;
    border :3px solid rgb(211, 31, 31);
    transition:all 0.4s ease;
}
.save.btn {
    border: 5px solid #0F4C75;
}

.save.btn:hover{
    cursor:pointer;
    border :3px solid rgb(47, 172, 255);
    transition:all 0.4s ease;
}


/* Rules  pop up container */

.popupContainer {
    display: none;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:#1b262c;

}
.popupContent {
    background-color: rgb(148, 148, 56);
    height: 80vh;
    width: 30vw;
    margin:auto;
    position: relative;
    margin-top: 10vh;
    border-radius: 25px;
    padding: 2rem;
    text-align: center;
}
.popupContent h2 , h3 {
    margin-bottom: 1rem;
    padding: 3px;
}
.popupContent p{
    font-weight: bold;
    font-size: 1rem;
    padding: 3px;
}

.close {
    cursor: pointer;
    position: absolute;
    top:0;
    right: 0;
    margin:1rem;
    font-size: 3rem;
    background: none;
    border: none;
    color: #1b262c;

}

ul#scores{
    list-style: none;
}
ul#scores li {
    margin:0.4rem;
}


