@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{background-color:#3282B8;}

.heading{
    background-color:#1B262C;
    text-align: center;
}
.logo{
    border-radius: 75px;
    height:150px; 
}

/* Game Area */

.game-area{
    text-align: center;
    display:flex;
    justify-content:space-evenly; 
    margin:40px;

}

.option img{
    border-radius:25px;
    height:150px;
    border:10px solid #1B262C;
    
}

.option img:hover {
    cursor: pointer;
    border:10px solid rgb(231, 32, 32);
    transition: all 0.4s ease;
    
    
}

/* Click & Play Content */
#play-content{
    text-align: center;
    font-size: 25px;
    color:#BBE1FA;
    font-weight: bold;
}

/* Score Area */
.score-area {
    text-align: center;
    display:flex;
    justify-content:space-evenly; 
    margin: 25px;
    color:#BBE1FA;
    font-size: 25px;
    font-weight:bold;  
}

/* Rules Button */

.rules{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    
    height:55px;
    width: 55px;
    border-radius:50px;
    border: 5px solid #0F4C75;
    background-color:#1B262C;
    color: #BBE1FA;
    font-weight: bold;
}



